<div class="container">
  
  <input id="expression" value={{expression}} class="expression" placeholder="Enter Values"/>
  <input id="result" value="{{result}}" class="result" placeholder="Output" />
  <button (click)="append('1')">1</button>
  <button (click)="append('2')">2</button>
  <button (click)="append('3')">3</button>
  <button (click)="del()">Del</button>
    
  <button (click)="append('4')">4</button>
  <button (click)="append('5')">5</button>
  <button (click)="append('6')">6</button>
  <button (click)="calculateResult()">=</button>
    
  <button (click)="append('7')">7</button>
  <button (click)="append('8')">8</button>
  <button (click)="append('9')">9</button>
  <button (click)="clear()">Clr</button>
  
  <button (click)="append('+')">+</button>
  <button (click)="append('-')">-</button>  
  <button (click)="append('/')">/</button>
  <button (click)="append('*')">*</button>

</div>
