<ul *ngFor="let restsDetail of restssDetail">
<li>{{restsDetail.name}}</li></ul>
<div class="container">

  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Toit(Brew Pub)</mat-card-title>
      <mat-card-subtitle>Indiranagar,Bengaluru</mat-card-subtitle>
    </mat-card-header>
    <img class="cardimg" mat-card-image src="./assets/rest.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div>Open 11:00 AM -11:00 PM (Cost 2000 For 2 Persons)</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">View Menu</button>
      <button mat-raised-button color="accent"><a class="router-links" routerLinkActive="active-link" routerLink="/dashboard/book-table">Book Table</a></button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Toit(Brew Pub)</mat-card-title>
      <mat-card-subtitle>Indiranagar,Bengaluru</mat-card-subtitle>
    </mat-card-header>
    <img class="cardimg" mat-card-image src="./assets/rest.jpg" alt="Photo of a Shiba Inu">
    <mat-divider></mat-divider>
    <mat-card-content>
      <div>Open 11:00 AM -11:00 PM (Cost 2000 For 2 Persons)</div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">View Menu</button>
      <button mat-raised-button color="accent"><a class="router-links" routerLinkActive="active-link" routerLink="/dashboard/book-table">Book Table</a></button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Toit(Brew Pub)</mat-card-title>
      <mat-card-subtitle>Indiranagar,Bengaluru</mat-card-subtitle>
    </mat-card-header>
    <img class="cardimg" mat-card-image src="./assets/rest.jpg" alt="Photo of a Shiba Inu">
    <mat-divider></mat-divider>
    <mat-card-content>
      <div>Open 11:00 AM -11:00 PM (Cost 2000 For 2 Persons)</div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">View Menu</button>
      <button mat-raised-button color="accent"><a class="router-links" routerLinkActive="active-link" routerLink="/dashboard/book-table">Book Table</a></button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Toit(Brew Pub)</mat-card-title>
      <mat-card-subtitle>Indiranagar,Bengaluru</mat-card-subtitle>
    </mat-card-header>
    <img class="cardimg" mat-card-image src="./assets/rest.jpg" alt="Photo of a Shiba Inu">
    <mat-divider></mat-divider>
    <mat-card-content>
      <div>Open 11:00 AM -11:00 PM (Cost 2000 For 2 Persons)</div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">View Menu</button>
      <button mat-raised-button color="accent"><a class="router-links" routerLinkActive="active-link" routerLink="/dashboard/book-table">Book Table</a></button>
    </mat-card-actions>
  </mat-card>
</div>

